<%= form_for(site) do |f| %>
    <%= render 'shared/error_messages', site: site %>
    <div class="box-body">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :domain %>
      <%= f.text_field :domain, class: 'form-control' %>

      <%= f.label :port %>
      <%= f.text_field :port, class: 'form-control' %>

      <%= f.label :database_name %>
      <%= f.text_field :database_name, class: 'form-control' %>
    </div>
    <div class="box-footer">
      <%= f.submit class: "btn btn-primary" %>
    </div>
<% end %>
